<%= flash[:error] %>
<div class="row">
  <section class="large-5 columns"
    <h4>Please log in:</h4>
    <%= form_tag :login  do %>
      <div >
        <%= label_tag :email %>
        <%= text_field_tag :email, nil, class: 'form-control input-lg' %>
      </div>
      <div >
        <%= label_tag :password %>
        <%= password_field_tag :password, nil  %>
      </div>
      <div >
        <%= button_tag "Login", class: 'radius btn-lg btn-primary btn-block' %>
      </div>
      <h4>or</h4>
      <%= link_to 'Sign in with Twitter', 'auth/twitter' %>
    <% end %>
  </section>
</div>