<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <div class="row">
      <h3> Title: </h3>
      <%= f.text_field :name, :placeholder => "Enter the title of this recipe"%>
    </div>
    <div class="row">
      Do you want other people to see this? <%= f.check_box :show %>
    </div>
  </p>
  <p>
    <div class="row">
      <div class="medium-6 columns">
        <h3> Prep time: </h3>
        <%= f.text_field :prep_time, :placeholder => "Enter how many minutes it takes to prep this recipe" %>
      </div>
      <div class="medium-6 columns">
        <h3> Cook time: </h3>
        <%= f.text_field :cook_time, :placeholder => "Enter how many minutes it takes to cook this recipe"%> 
      </div>
    </div>

    <div class="row">
      <h3>Ingredients:</h3>
      <%= f.text_area(:ingredients, size: '50x10', :placeholder => "Enter ingredients and quantity, e.g. 1 cup of sugar") %>
    </div>
    <div class="row">
      <h3>Instructions:</h3>
      <%= f.text_area(:steps, size: '50x10', :placeholder => "Enter instructions on how to create this delicious recipe") %>
    </div>
  </p>
  <p>
    <div class="row">
      <%= f.submit :class => "button small"%>
    </div>
  </p>
<% end %>
