<p id="notice"><%= notice %></p>

<div class="row">
  <table class="medium-12 columns">
    <thead>
      <tr class= "row">
        <td class="medium-12 columns text-right"> <%= link_to raw('Create Recipe <i class="fi-plus"></i>'), new_recipe_path %></td>
      </tr>
    </thead>
    <tbody>
      <% if @recipes.count < 1 %>
          <tr class="row">
            <td class="medium-12 columns text-center">You currently don't have any recipes... </td>
          </tr>
      <%else%>
        <% @recipes.each do |recipe| %>
          <tr class="row">
            <td class="medium-8 columns"><%= link_to recipe.name, recipe %> </td>
            <td class="medium-2 columns text-right"><%= link_to raw('Edit <i class="fi-pencil"></i>'), edit_recipe_path(recipe) %></td>
            <td class="medium-2 columns text-right"><%= link_to raw('Delete <i class="fi-x"></i>'), recipe,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <%end%>
    </tbody>
  </table>

</div>

<div class="row">
</div>
