<p id="notice"><%= notice %></p>

<div class="row">
  <table class="medium-12 columns">
    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= link_to raw('<i class="fi-eye"></i>'), recipe %> </td>
          <td><%= link_to raw('<i class="fi-pencil"></i>'), edit_recipe_path(recipe) %></td>
          <td><%= link_to raw('<i class="fi-x"></i>'), recipe,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div class="row">
  <%= link_to 'Create Recipe', new_recipe_path, :class => "button tiny"%>
</div>
