<div class="row">
  <p>
  <div class="row primary-color">
    <div class="large-12 text-center"> 
      Welcome to Recipebook! The world's smllest recipe repository! <br>
      Start sharing recipes today by <u><%= link_to "logging in", login_path %></u> to your accout.<br>
      Happy sharing! Because sharing is Caring!!!
    </div>
  </div>
  </p>
  <p> 
  <div class="row text-center">
    <h4>No 1. Recipe of the Day </h4>
    <div class="large-12 columns">
      <h5><%= @recipe.name %></h5>
      <p>
      <strong>Prep Time:</strong> <%= @recipe.prep_time %> min<br>   
      <strong>Cook Time:</strong> <%= @recipe.cook_time %> min
      </p>
      <p>
      <strong>Ingredients:</strong><br>
      <%= simple_format(@recipe.ingredients) %>
      </p>
      <p>
      <strong>How to make it:</strong><br>
      <%= simple_format(@recipe.steps) %>
      </p>

    </div> 
  </div>
  </p>
</div>
