<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Recipebook" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if flash[:notice] || flash[:alert] %>
      <div class="row alert-box <%= flash[:notice] ? 'info' : 'warning' %> radius">
        <%= render 'layouts/flasher' %>
      </div>
    <% end %>
    <div class="row">
      <div class="large-7 columns">
        <h1>Recipebook</h1>
      </div>
      <%= render 'layouts/nav' %>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
    <footer class="row" >
      <section class="small-7 columns">
        Copyright 2015
      </section>
      <section class="small-5 columns" >
        This is another section in the footer.
      </section>
    </footer>  
  </body>
</html>
