<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="large-4 columns">
        <h1>Recipes'R'Us</h1>
      </div>
<!--       <div class="large-8 columns">
        <h3>The best little recipe site out there</h3>
      </div>
 -->    </div>
    <div class="row">
      <%= yield %>
    </div>
    <footer class="row" >
      <section class="small-3 columns">
        Copyright 2015
      </section>
      <section class="small-9 columns" >
        This is another section
      </section>
    </footer>  
  </body>
</html>
